html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  background: url('../../public/AcademicPanic.png'); /* Specify the image path */
  background-size: cover; /* Ensures the image covers the entire background */
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --nat-navbar-bg: rgba(255, 255, 255, 0.5); 
  --nat-navbar-bg-rgb: 255, 255, 255;
  --nat-navbar-text-color: rgb(0, 0, 0); /* Text color for navbar and footer */
  --nat-navbar-highlight-text: rgb(182, 172, 79); /* Highlight color for active items */
}

footer, footer a {
  color: var(--nat-navbar-text-color);
  opacity: 0.8;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
  opacity: 0.8;
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg); /* Use the dark background color for dropdown items */
}

.space-above {
  margin-top: 20px; /* Adjust the value as needed */
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-gold {
  color: rgb(182, 172, 79);
}

.text-box {
  background-color: rgba(255, 255, 255, 0.8); /* Solid box background */
  border-radius: 10px; /* Rounded corners */
  max-width: 600px; /* Box width */
  width: 100%; /* Ensure responsiveness */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Shadow for depth */
}

.text-box2 {
  background-color: rgba(255, 255, 255, 0.8); /* Solid box background */
  border-radius: 10px; /* Rounded corners */
  /* max-width: 600px; /* Box width */ 
  width: 100%; /* Ensure responsiveness */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Shadow for depth */
}